.grid-container {
  width: 800px;
  height: 800px;
}

.grid {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.grid-row {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.grid-cell {
  display: flex;
  width: 30px;
  height: 30px;
}

.cell-empty {
  background-color: grey;
}

.cell-snake {
  background-color: green;
}
.cell-food {
  background-color: red;
}
